{erl_opts, [debug_info]}.
{deps, [
        {derp_dep, ".*",
         {git, "git@github.com:ypaq/derp_dep.git",
          {branch, "master"}}},
        {folsom_cowboy, ".*",
         {git, "git@github.com:boundary/folsom_cowboy.git",
          {branch, "master"}}}
]}.

{relx, [{release, {'derp_test', "0.1.0"},
         [derp_test,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
